meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
base(href='http://lavka.club/')
block seotitle
//
   Bootstrap
link(href='/assets/css/bootstrap/css/bootstrap.min.css', rel='stylesheet')
//
   HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
//
   WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
  script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
  script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
link(href='/assets/css/main.css', rel='stylesheet')
link(href='/assets/js/raty/jquery.raty.css', rel='stylesheet')
link(href='/assets/js/jcarousel/jcarousel.basic.css', rel='stylesheet')
link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
link(href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
link(href="/assets/css/suggestions-4.6.css", type="text/css", rel="stylesheet")
link(rel="shortcut icon", type="image/x-icon", href="assets/images/favicon.ico")
meta(name="w1-verification", content="186655772283")
meta(name="google-site-verification", content="ve06AmNZV3C1rOYltlV5QbUjRLvdmD8BmLtwlEK3Fuw")
script(type="text/javascript", src="http://vk.com/js/api/share.js?90", charset="windows-1251")
meta(property="og:site_name", content="Lavka. Место встречи мастеров и покупателей")
meta(property="og:image", content="http://lavka.club/assets/images/logo.png")


