script(type='text/javascript',src='/assets/js/jquery-1.9.1.min.js')
script(type='text/javascript',src='/assets/css/bootstrap/js/bootstrap.min.js')
script(type='text/javascript',src='/assets/js/rateit/jquery.rateit.min.js')
script(type='text/javascript',src='/assets/js/jcarousel/jquery.jcarousel.min.js')
script(type='text/javascript',src='/assets/js/jcarousel/jcarousel.responsive.js')
script(type='text/javascript', src='/assets/js/jquery.suggestions-4.6.min.js')
link(href='/assets/js/cropper.min.css', rel='stylesheet')
link(href='/assets/js/enjoyhint.css', rel='stylesheet')
script(src='/assets/js/cropper.min.js')
script(src='/assets/js/socket.io.js')
script(type='text/javascript', src='/assets/js/enjoyhint.min.js')
script(src="/assets/js/main.js")
script(type='text/javascript', src='/assets/js/jquery.maskedinput.min.js')
link(href='/assets/js/rateit/rateit.css', rel='stylesheet')
block customjs