extends layout
block content
        .row.service-rules.maincontent
            .col-md-12
                br
                br
                h1.text-center Крон успешно выполнил свои Функции