extends layout
block seotitle
    title= 'Лавка.'
    meta(name="description", content="Лавка. Сообщество мастеров, ремесленников и ценителей изделий ручной работы")
    meta(name="keywords", content="Лавка, handmade, изделия ручной работы, мастер, ремесленник, рукоделие")
block content
    .row
        .col-md-12
            p
            |   You are logged now
