extends layout
block seotitle
    title= 'Лавка. Страница изменения пароля'
block content
    .row.maincontent
        .col-md-12
            h3 Смена пароля
            p(style="font-size: 20px;") Введите email, который вы указывали при регистрации на сайте, и мы отправим на него ссылку для создания нового пароля.
            form(role='form', method='POST', action='/forgot', name="forgot-form", enctype="multipart/form-data")
                .form-group
                    label(for='email') Email
                    input#email.form-control(type='email', name='email', placeholder='Введите ваш email', style="max-width:300px;")
                button.btn.btn-lg.btn-info(type='submit') Отправить мне ссылку для изменения пароля
            br
            p.text-center
                a.btn.btn-lg.btn-info(href="/") На главную
            br
            br
