extends layout
block seotitle
    title= 'Лавка. Правила использования сервиса'
    meta(name="description", content="Лавка. Правила использования сервиса")
    meta(name="keywords", content="Лавка, handmade, изделия ручной работы, мастер, ремесленник, рукоделие")
block content
        .message
            if (message)
                .alert.alert-info.alert-dismissible(role='alert')
                    button.close(type='button', data-dismiss='alert')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    strong= message
        .row.service-rules.maincontent
            .col-md-12
                br
                br
                h1.text-center Правила и условия использования сервиса "Лавка.клуб"
                h3 Добро пожаловать!
                p Лавка – интернет-проект, позволяющий зарегистрированным Пользователям размещать информацию о намерении продать или купить авторские изделия и работы (далее – Работы), изготовленные собственными силами Пользователей или непосредственно при их участии, на сайте lavka.club. Такие Работы общепринято называть "хендмейд" (handmade).
                p Зарегистрировавшись на сайте lavka.club (далее – Лавка), Вы подтверждаете, что прочитали, поняли и согласны соблюдать настоящее Пользовательское соглашение (далее – Правила). Администрация сайта Лавка.Клуб www.lavka.club (далее – Администрация) оставляет за собой право по своему личному усмотрению изменять и/или дополнять настоящие Правила в любое время без предварительного и/или последующего уведомления.
                p
                    | Действующая редакция Правил всегда находится на странице по адресу http://www.lavka.ru/rules. Если Вы не согласны соблюдать настоящие Правила, Вы вправе в одностороннем порядке отказаться от их исполнения, путем полного прекращения использования всех сервисов Лавки.
                p
                    | Неотъемлемыми частями настоящих Правил являются:
                h3 1. Описание услуг
                p
                    | Все существующие на данный момент сервисы и возможности Лавки, а также любое развитие их и/или добавление новых является предметом настоящих Правил. Вы понимаете и соглашаетесь с тем, что все сервисы предоставляются «как есть» и что "Лавка" не несет ответственности ни за какие задержки, сбои в работе сервисов, неверную или несвоевременную доставку, удаление или несохранность какой-либо пользовательской персональной информации. Вместе с тем Администрация обязуется принимать все разумные меры для предотвращения таких перебоев.
                p
                    | Для того чтобы воспользоваться сервисами Лавки, необходимо иметь компьютер и доступ в Интернет. Все вопросы приобретения прав доступа в Интернет, покупки и наладки для этого соответствующего оборудования и программных продуктов решаются Вами самостоятельно и не подпадают под действие Правил. Администрация настоятельно рекомендует использовать только лицензионное программное обеспечение.
                h3 2. Обязательства по регистрации
                p
                    | 2.1. Для того чтобы воспользоваться сервисами Лавки, Вы обязаны представить при регистрации точную, актуальную и наиболее полную информацию о себе, которая может быть запрошена на страницах Лавки, и периодически обновлять, чтобы обеспечить ее актуальность.
                    br
                    | 2.2. После прохождения процесса регистрации Вы получите логин и пароль для доступа к сервисам Лавки. Вы несете полную ответственность за безопасность Вашего логина и пароля, за все действия, совершенные с использованием Вашего логина и пароля, а также за любые последствия, которые могло повлечь или повлекло подобное его использование.
                    br
                    | 2.3. Если Вы предоставляете неверную или неполную информацию, или у Администрации есть основания полагать, что предоставленная Вами информация неверна или неточна, Администрация имеет право в одностороннем порядке приостановить и/или отменить Вашу регистрацию и отказать Вам в использовании Вашего логина и пароля.
                h3 3. Ответственность Пользователей и Администрации
                p
                    | 3.1. Вы признаете, что Администрация не обязана просматривать информацию, данные, текст, фотографии, графику, сообщения, другие материалы и их подборки (далее - Контент) перед их размещением Пользователями на Лавке, но в то же время имеет право по своему усмотрению отказать в размещении или удалить любой Контент, размещенный на Лавке.
                    br
                    | 3.2. Вы несете личную ответственность за любой Контент, который Вы размещаете на Лавке, а также за любую информацию, которую Вы сообщаете другим Пользователям, и за Ваши взаимодействия с другими Пользователями. Администрация не гарантирует никакой конфиденциальности в отношении любого Контента Пользователей и не несет ответственность за правомерность его размещения. После размещения Пользователями Контента и информации на Лавке (доведения до всеобщего доступа) некоторые типы Контента не могут быть удалены Пользователями и становятся общедоступны бессрочно. Подобный Контент не удаляется Администрацией по запросам Пользователей. Такой Контент может быть удален только в том случае, если он размещен Пользователем с нарушением Правил Лавки, либо законодательства РФ, либо неправомерно.
                    br
                    | 3.3. Лавка является открытым для всеобщего доступа информационным ресурсом, поэтому Администрация не несет никакой ответственности за любой Контент Пользователей или третьих лиц, размещенный на Лавке или с ее помощью, а также не дает никаких гарантий по отношению к любому Контенту, его точности, актуальности или достоверности.
                    br
                    | Вся информация и весь Контент (вне зависимости от того, относятся ли эта информация или Контент законодательством РФ к персональным или иным данным, подлежащим защите в соответствии с законодательством РФ, или нет), размещенные Пользователем на Лавке, размещаются им для реализации его Работ и/или в иных интересах Пользователя, то есть Пользователь размещает ту или иную информацию о себе или Контент исключительно в своих интересах, в том числе для облегчения установления связи с Пользователем и/или идентификации Пользователя. Размещая информацию и Контент о себе, Пользователь понимает, что вся информация и Контент размещаются на Лавке в открытом доступе, то есть доступны для ознакомления любому посетителю Лавки, соответственно Пользователь понимает и принимает на себя все без исключения риски, связанные с таким размещением информации и Контента.
                    br
                    | 3.4. Вы имеете право размещать на Лавке информацию о намерении продать только Работы, изготовленные Вами лично или при Вашем непосредственном участии. При этом обязуетесь максимально точно, наиболее полно и грамотно описывать все параметры, характеристики и особенности каждой работы. Вы не можете размещать на Лавке Контент, если он не был создан Вами лично или на размещение которого у Вас нет разрешения правообладателя.
                    br
                    | 3.5. На Лавке разрешается размещать информацию о намерении продать или купить только материальные, физически осязаемые Работы (к ним не причисляются фотографии, видео, музыка и прочие виды интеллектуальной деятельности), которые относятся к категории "хендмейд". К категории "хендмейд" относятся единичные изделия, созданные с использованием оригинальной авторской идеи и являющиеся результатом ручного труда конкретного человека, разместившего данную Работу на Лавке, который одновременно выступает автором или соавтором этой Работы. Работы, которые выполнены по эксклюзивному эскизу или с использованием оригинальной идеи автора, но не относятся к категории "хендмейд" и не могут быть размещены на Лавке: серийные и массовые изделия; изделия, при создании которых большую часть работ выполнил вручную не сам автор, а другие люди; изделия, при создании которых использовалось преимущественно технологическое оборудование, а автор самостоятельно не осуществлял их значительной дизайнерской ручной обработки.
                    br
                    | Наличие какой-либо рубрики в Каталоге подразумевает возможность размещения в ней соответствующих товаров, если такие товары также не противоречат другим пунктам Правил и не входят в список запрещенных к продаже изделий
                    | .
                    br
                    | 3.6. Администрация не принимает непосредственного участия в процессе совершения сделок между Пользователями и не несет ответственность за качество, безопасность и любые другие потребительские свойства выставляемых Работ, а также за правомерность выставления их на продажу.
                    br
                    | 3.7. Вы обязуетесь добросовестно исполнять взятые на себя обязательства перед другими Пользователями Лавки в случае заключения с последними сделок.
                    br
                    | 3.8. Администрация не несет ответственность за любые действия Пользователей или третьих лиц, использующих Лавку, а также за любые последствия таких действий.
                    br
                    | 3.9. Администрация не занимается урегулированием спорных вопросов и конфликтов между Пользователями и призывает решать их самостоятельно в личной переписке.
                h3 4. Ограничение ответственности Администрации
                p
                    | 4.1. Все сервисы Лавки предоставляются «как есть». Администрация не гарантирует, что сервисы Лавки будут соответствовать Вашим требованиям, а также не принимает на себя никакой ответственности за соответствие сервиса цели Пользователя.
                    br
                    | 4.2. Администрация не несет ответственности за перерывы в предоставлении услуг, вызванные техническими перебоями в работе оборудования и/или программного обеспечения.
                    br
                    | 4.3. Администрация не несет ответственности перед Пользователями и любыми третьими лицами за любой случайный, неумышленный, косвенный ущерб, включая упущенную выгоду или потерянные данные, вызванный в связи с использованием содержимого Лавки.
                    br
                    | 4.4. Лавка может содержать ссылки на сайты в интернете и любой Контент, принадлежащий третьим лицам. Подобные третьи лица и их Контент не проверяются Администрацией на соответствие требованиям добросовестности, порядочности, законности и иным требованиям. Администрация не несет ответственность за любую информацию, размещенную на сайтах третьих лиц, к которым вы получили доступ через Лавку.
                    br
                    | 4.5. Ссылка на любой сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, размещенная на Лавке, не является одобрением или рекомендацией данных продуктов и услуг со стороны Администрации. С момента Вашего перехода к сайтам третьих лиц настоящие Правила более не действуют.
                h3 5. Запрещенное использование сайта
                p
                    strong Запрещается:
                p
                    | 5.1. Регистрироваться от имени лица, которым Вы не являетесь, вводить пользователей в заблуждение относительно своей личности, умышленно искажать представление о самом себе.
                    br
                    | 5.2. Выставлять одинаковые Работы одновременно в нескольких разделах каталога.
                    br
                    | 5.3. Удалять и сразу же заново добавлять свои Работы для привлечения к ним дополнительного внимания посетителей сайта
                    br
                    | 5.4. Выставлять фотографии Работ из журналов или Работ других мастеров, выдавая их за свои.
                    br
                    | 5.5. Перепродавать чужие Работы, если Вы не приложили к их созданию никаких усилий (за исключением представления Работ своих родственников, в случае, если они по каким-либо причинам не имеют доступа к сети интернет).
                    br
                    | 5.6. Представлять в виде Работ информацию об услугах (например: "установлю межкомнатные двери", "сделаю ремонт", "заточу инструменты", "услуги маникюра и макияж", "ремонт изделий").
                    br
                    | 5.7. Размещать в любых рубриках Каталога, кроме разделов «Материалы для творчества» и «Дизайн и реклама», работы, представляющие собой не само изделие, а эскиз, схему или макет, сделанный в графическом редакторе. В случае, когда работа предполагается быть выполненной на заказ по определенному эскизу или схеме, главное фото работы должно демонстрировать образец готового изделия, созданный мастером, разместившим эту работу.
                    br
                    | 5.8. К описанию каждой Работы может быть добавлено до 6 фотографий в зависимости от тарифа.
                    | . Все фотографии в описании конкретной Работы должны демонстрировать только эту Работу, исключение составляют вариации и модификации (в том числе цветовые) одной и той же Работы. Категорически запрещается в описании одной Работы размещать фотографии, демонстрирующие разные Работы.
                    br
                    | 5.9. Размещать на Лавке информацию о продаже или покупке Работ, оборот которых запрещен действующим законодательством Российской Федерации.
                    br
                    | 5.10. Размещать информацию о Работах, если подобное действие влечет за собой нарушение исключительного права Пользователей и третьих лиц на объекты интеллектуальной собственности.
                    br
                    | 5.11. Размещать на Лавке любую коммерческую рекламу, коммерческие предложения, агитационные материалы, распространять спам, проводить любые массовые рассылки сообщений и приглашений Пользователям сайта, создавать сообщения, требующие их передачи другим Пользователям, схемы "пирамид", многоуровневого сетевого маркетинга, любую другую навязчивую информацию, кроме случаев, когда размещение такой информации было одобрено Администрацией.
                    br
                    | 5.12. Размещать любую информацию, которая является незаконной, содержит клевету, угрозы, дискредитирует или оскорбляет других Пользователей или третьих лиц, содержит или пропагандирует порнографию и детскую эротику, оскорбляет нравственность, рекламирует интимные услуги, носит мошеннический характер, посягает на личные или публичные интересы, пропагандирует расовую, религиозную, этническую ненависть или вражду, любую иную информацию, нарушающую охраняемые законом права человека и гражданина, пропагандирует незаконную деятельность.
                    br
                    | 5.13. Размещать любые материалы, содержащие вирусы или другие компьютерные коды, файлы или программы, предназначенные для нарушения, уничтожения либо ограничения функциональности любого компьютерного или телекоммуникационного оборудования или программ, для осуществления несанкционированного доступа.
                    br
                    | 5.14. Использовать Лавку любым способом, который может помешать ее нормальному функционированию.
                    br
                    | 5.15. Сбор и хранение персональных данных Пользователей любым способом.
                    br
                    | 5.16. Пытаться получить доступ к чужим логину и паролю любым способом.
                    br
                    | 5.17. Размещать ссылки на сайты в интернете, содержание которых противоречит существующему законодательству.
                    br
                    | 5.18. Размещать где-либо на Лавке Мастеров ссылки на свои персональные сайты, страницы и блоги, находящиеся на сторонних ресурсах, а также рекламировать в явном или скрытом виде любые сторонние сайты.
                    br
                    | 5.19. Использовать любой общедоступный раздел Лавки для демонстративного обсуждения разногласий, конфликтов, споров и полемических дискуссий с другими пользователями и/или Администрацией Лавки.
                    br
                    | 5.20. Размещать любую другую информацию, которая по мнению Администрации не соответствует целям создания Лавки, ущемляет интересы Пользователей или по другим причинам является нежелательной для размещения на Лавке.
                    br
                    br
                h3 6. Права Администрации
                p
                    | 6.1. Администрация оставляет за собой право редактировать и/или удалять любой Контент Пользователей, если он противоречит настоящим Правилам, действующему законодательству Российской Федерации, а также в иных случаях по усмотрению Администрации.
                    br
                    | 6.2. Администрация оставляет за собой право выборочно ограничивать размещение Работ Пользователей в разделах каталога, а также отказать в их размещении, если, по мнению Администрации, они не соответствуют тематике Лавки.
                    br
                    | 6.3. Администрация вправе переносить Работы из одного раздела каталога в другой без уведомления Пользователя, разместившего данные Работы, если, по мнению Администрации, они не соответствуют тематике раздела.
                    br
                    | 6.4. Администрация оставляет за собой право приостановить и/или прекратить действие всех Ваших логинов и паролей, удалить логин и пароль, выборочно ограничить Ваш доступ к сервисам Лавки, а также заблокировать и/или удалить любой Контент, если по мнению Администрации Вы нарушаете данные Правила и/или ведете неправомерную деятельность, если Администрация обнаружит, что по ее мнению, Пользователь представляет угрозу для Лавки или ее Пользователей, а также если Вы в течение четырех месяцев не пользовались Вашим логином и паролем, с предварительным уведомлением или без такового. В подобных случаях перерасчет срока действия оплаченной Клубной Карты за период приостановки и/или прекращения действия логина и пароля и возврат денежных средств не производятся.
                    br
                    | 6.5. Администрация Лавки может посылать своим пользователям информационные сообщения.
                    br
                    | 6.6. Администрация сохраняет за собой право в любое время изменять оформление Лавки, Контент, набор сервисов, изменять или дополнять используемое программное обеспечение и другие объекты, используемые или хранящиеся на Лавке, любые серверные приложения в любое время с предварительным уведомлением или без такового.
                    br
                    | 6.7. Лавка и предоставляемые сервисы могут быть в то или иное время частично или полностью недоступны по причине проведения профилактических или иных работ или по любым другим причинам технического характера. Администрация имеет право проводить необходимые профилактические или иные работы в то или иное время по личному усмотрению с предварительным уведомлением Пользователей или без такового.
                h3 7. Общая информация
                p
                    | 7.1. Настоящие Правила составляют соглашение между Вами и Администрацией относительно порядка использования Лавки и ее сервисов и заменяют собой все предыдущие соглашения между Вами и Администрацией;
                    br
                    | 7.2. Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации.
                    br
                    | 7.3. Если по тем или иным причинам одна или несколько норм настоящих Правил является недействительной или не имеющей юридической силы, это не оказывает влияния на действительность или применимость остальных норм.
                    br
                    | 7.4. Ничто в Правилах не может пониматься как установление между Вами и Администрацией агентских отношений, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Правилами.

                br
                br
                br